body {
      height: 100vh;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;
      background-color: #ffa6b8;
      font-family: 'VicFont', cursive;
    }

    @font-face {
        font-family: 'VicFont';
        src: url('fonts/VicFont.ttf') format('truetype');
    }

    .card {
      background: rgb(171, 248, 229);
      padding: 90px;
      border-radius: 5px;
      text-align: center;
    }

    button {
      padding: 10px 15px;
      font-size: 10px;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      position: relative;
      font-family: 'VicFont', cursive;
    }

    .move {
    position: absolute;
    font-size: 15px;
    padding: 10px 15px;
    border: black;
    border-radius: 10px;
    background-color: #120235;
    color: white;
    cursor: pointer;
    left: 50%;
    transform: translateX(-50%);
    top: 80%;
    }

     .move_p {
    position: absolute;
    font-size: 15px;
    padding: 10px 15px;
    border: black;
    border-radius: 10px;
    background-color: #120235;
    color: white;
    cursor: pointer;
    left: 50%;
    transform: translateX(-50%);
    top: 84%;
    }

    #yes {
      background-color: #4643e7;
      color: rgb(192, 253, 192);
      margin-right: 40px;
      margin-top: 10px;
    }
    
    #hg {
      background-color: #00d3e2e1;
      color: rgb(88, 7, 7);
      margin-right: 20px;
      font-size: 15px;
      margin-top: 10px;
    }

    #ks_r {
      background-color: #bd1212e1;
      color: rgb(255, 255, 255);
      margin-right: 20px;
      font-size: 15px;
      margin-top: 10px;
    }

    #ks {
      background-color: #29fd16e1;
      color: rgb(0, 0, 0);
      margin-right: 20px;
      font-size: 15px;
      margin-top: 10px;
    }

    #no {
      background-color: #c7c7c7;
    }

    #cntlabel {
      position: absolute;
      left: 85%;
      padding: 10px 10px;
      border-radius: 10px;
      background-color: #ecea5c;
            font-family: 'VicFont';

    }

    #ted {
      position: absolute;
      left: 85%;
      padding: 10px 10px;
      border-radius: 10px;
      background-color: #06b93c;
            font-family: 'VicFont';
    }

    #kiss {
      padding: 10px 10px;
      border-radius: 10px;
      background-color: #861de7;
            color: rgb(255, 255, 255);
            font-family: 'VicFont';
    }

    .img{
    width: 200px;
    height: auto;
}

.rose_i{
    /*position: absolute*/
    width: 250px;
    height: auto;
    left: 10%;
}
.jas_i{
    /*position: absolute*/
    width: 300px;
    height: auto;
    left: 76%;
}
.dess_i{
    /*position: absolute;*/
    width: 350px;
    height: auto;
    left: 5%;
}
.kj_i{
    /*position: absolute;*/
    width: 250px;
    height: auto;
    left: 76%;
}
.kiss_i{
    /*position: absolute;*/
    width: 250px;
    height: auto;
    left: 76%;
}

a{
  text-decoration: none;
  color: inherit;
}
